<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zju.sishi.dao.PictureDao">

    <resultMap id="PictureResultMap" type="Picture">
        <result property="pictureId" column="picture_id"/>
        <result property="pictureTitle" column="picture_title"/>
        <result property="pictureAuthor" column="picture_author"/>
        <result property="pictureSource" column="picture_source"/>
        <result property="pictureContent" column="picture_content"/>
        <result property="pictureLink" column="picture_link"/>
        <result property="picturePublishTime" column="picture_publish_time"/>
        <result property="pictureCreateTime" column="picture_create_time"/>
        <result property="isPublic" column="is_public"/>
    </resultMap>

    <sql id="dynamicKeys">
        <trim prefix="" prefixOverrides="" suffix="" suffixOverrides=",">
            <if test="pictureId != null and pictureId != ''">picture_id,</if>
            <if test="pictureTitle != null and pictureTitle != ''">picture_title,</if>
            <if test="pictureAuthor != null and pictureAuthor != ''">picture_author,</if>
            <if test="pictureSource != null and pictureSource != ''">picture_source,</if>
            <if test="pictureContent != null and pictureContent != ''">picture_content,</if>
            <if test="pictureLink != null and pictureLink != ''">picture_link,</if>
            <if test="picturePublishTime != null and picturePublishTime != ''">picture_publish_time,</if>
            <if test="pictureCreateTime != null and pictureCreateTime != ''">picture_create_time,</if>
            <if test="isPublic != null and isPublic != ''">is_public,</if>
        </trim>
    </sql>

    <sql id="dynamicValues">
        <trim prefix="" prefixOverrides="" suffix="" suffixOverrides=",">
            <if test="pictureId != null and pictureId != ''">#{pictureId},</if>
            <if test="pictureTitle != null and pictureTitle != ''">#{pictureTitle},</if>
            <if test="pictureAuthor != null and pictureAuthor != ''">#{pictureAuthor},</if>
            <if test="pictureSource != null and pictureSource != ''">#{pictureSource},</if>
            <if test="pictureContent != null and pictureContent != ''">#{pictureContent},</if>
            <if test="pictureLink != null and pictureLink != ''">#{pictureLink},</if>
            <if test="picturePublishTime != null and picturePublishTime != ''">#{picturePublishTime},</if>
            <if test="pictureCreateTime != null and pictureCreateTime != ''">#{pictureCreateTime},</if>
            <if test="isPublic != null and isPublic != ''">#{isPublic},</if>
        </trim>
    </sql>

    <sql id="columns">
        picture_id
        , picture_title,  picture_author, picture_source, picture_content, picture_publish_time, picture_create_time, is_public, picture_link
    </sql>

    <select id="getPicturesAll" resultMap="PictureResultMap">
        SELECT <include refid="columns"/>
        FROM tb_picture
        WHERE (is_public = true ${logicSymbol} 1=1)
    </select>

    <select id="getPictureById" resultMap="PictureResultMap">
        SELECT <include refid="columns"/>
        FROM tb_picture
        WHERE picture_id = #{pictureId}
    </select>

    <select id="getPicturesByIds" resultMap="PictureResultMap">
        SELECT <include refid="columns"/>
        FROM tb_picture
        <where>
            picture_id in
            <foreach collection="pictureIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="getPictureByTitle" resultMap="PictureResultMap">
        SELECT <include refid="columns"/>
        FROM tb_picture
        WHERE picture_title = #{pictureTitle}
    </select>

    <select id="getPicturesByPage" resultMap="PictureResultMap">
        SELECT <include refid="columns"/>
        FROM tb_picture
        ORDER BY picture_id ASC
        LIMIT #{length}
        OFFSET #{offset}
    </select>

    <select id="getPicturesByTag" resultMap="PictureResultMap">
        SELECT <include refid="columns"/>
        FROM tb_picture p,
             tb_tag_resource_map t
        WHERE t.tag_name = #{tagName}
          AND t.resource_id = p.picture_id
          AND t.resource_type = 'tb_picture'
          AND (is_public = true ${logicSymbol} 1=1)
    </select>


    <insert id="addPicture" parameterType="Picture" flushCache="true">
        INSERT INTO tb_picture(
        <include refid="dynamicKeys"/>
        ) VALUES (
        <include refid="dynamicValues"/>
        )
    </insert>


    <delete id="deletePictureById" parameterType="String" flushCache="true">
        DELETE
        FROM tb_picture
        WHERE picture_id = #{pictureId}
    </delete>


    <update id="updateIsPublicById" parameterType="String" flushCache="true">
        UPDATE tb_picture
        SET is_public = true
        WHERE picture_id = #{pictureId}
    </update>


</mapper>