<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zju.sishi.dao.TagResourceDao">

    <cache/>

    <select id="getTagResourcesAll" resultType="TagResource">
        SELECT tag_id, tag_name, resource_id, resource_type, user_id
        FROM tb_tag_resource_map
    </select>

    <select id="getTagResourcesByResourceId" resultType="TagResource">
        SELECT tag_id, tag_name, resource_id, resource_type, user_id
        FROM tb_tag_resource_map
        WHERE resource_id = #{resourceId}
    </select>

    <select id="getTagResourcesByUserId" resultType="TagResource">
        SELECT tag_id, tag_name, resource_id, resource_type, user_id
        FROM tb_tag_resource_map
        WHERE user_id = #{userId}
    </select>

    <select id="getTagResourcesByTagName" resultType="TagResource">
        SELECT tag_id, tag_name, resource_id, resource_type, user_id
        FROM tb_tag_resource_map
        WHERE tag_name = #{tagName}
    </select>

    <select id="getTagResourceType" resultType="String">
        SELECT resource_type
        FROM tb_tag_resource_map
        WHERE tag_name = #{tagName}
          AND resource_id = #{resourceId} LIMIT 1
    </select>

    <select id="getTagResourceIds" resultType="String">
        SELECT resource_id
        FROM tb_tag_resource_map
        WHERE tag_name = #{tagName}
    </select>

    <select id="getTagResourceByResourceType" resultType="TagResource">
        SELECT tag_id, tag_name, resource_id, resource_type, user_id
        FROM tb_tag_resource_map
        WHERE resource_type = '${resourceType}'
    </select>


    <insert id="addTagResource" parameterType="TagResource" flushCache="true">
        INSERT INTO tb_tag_resource_map(tag_id, tag_name, resource_id, resource_type, user_id)
        VALUES (#{tagId}, #{tagName}, #{resourceId}, #{resourceType}, #{userId})
    </insert>


    <delete id="deleteTagResource" flushCache="true">
        DELETE
        FROM tb_tag_resource_map
        WHERE tag_name = #{tagName}
          AND resource_id = #{resourceId}
    </delete>

    <delete id="deleteByTagName" flushCache="true">
        DELETE
        FROM tb_tag_resource_map
        WHERE tag_name = #{tagName}
    </delete>

</mapper>