<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zju.sishi.dao.MapInfoDao">

    <resultMap id="MapInfoResultMap" type="MapInfo">
        <result property="mapId" column="map_id"/>
        <result property="mapName" column="map_name"/>
        <result property="mapJson" column="map_json"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="dynamicKeys">
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="mapId != null and mapId != ''">map_id,</if>
            <if test="mapName != null and mapName != ''">map_name,</if>
            <if test="mapJson != null and mapJson != ''">map_json,</if>
            <if test="createTime != null and createTime != ''">create_time,</if>
        </trim>
    </sql>

    <sql id="dynamicValues">
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="mapId != null and mapId != ''">#{mapId},</if>
            <if test="mapName != null and mapName != ''">#{mapName},</if>
            <if test="mapJson != null and mapJson != ''">#{mapJson},</if>
            <if test="createTime != null and createTime != ''">#{createTime},</if>
        </trim>
    </sql>


    <select id="getAllMapInfo" resultMap="MapInfoResultMap">
        SELECT map_id, map_name, map_json, create_time
        FROM tb_mapinfo
    </select>

    <select id="getMapInfoById" parameterType="String" resultMap="MapInfoResultMap">
        SELECT map_id, map_name, map_json, create_time
        FROM tb_mapinfo
        WHERE map_id = #{mapId}
    </select>

    <select id="getMapInfoByName" parameterType="String" resultMap="MapInfoResultMap">
        SELECT map_id, map_name, map_json, create_time
        FROM tb_mapinfo
        WHERE map_name = #{mapName}
    </select>

    <select id="getMapInfoByTag" parameterType="String" resultMap="MapInfoResultMap">
        SELECT m.map_id, m.map_name, m.map_json, m.create_time
        FROM tb_mapinfo m, tb_tag_resource_map t
        WHERE t.tag_name = #{tagName} AND t.resource_type = 'tb_mapinfo' AND t.resource_id = m.map_id
    </select>


    <insert id="addMapInfo" parameterType="MapInfo">
        INSERT INTO tb_mapinfo(
        <include refid="dynamicKeys"/>
        ) VALUES(
        <include refid="dynamicValues"/>
        )
    </insert>


    <delete id="deleteMapInfoById" parameterType="String">
        DELETE FROM tb_mapinfo
        WHERE map_id = #{mapId}
    </delete>


    <update id="updateMapInfo" parameterType="MapInfo">
        UPDATE tb_mapinfo
        <set>
            <if test="mapName != null">map_name = #{mapName},</if>
            <if test="mapJson != null">map_json = #{mapJson},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        WHERE map_id = #{mapId}
    </update>


</mapper>
